/* Images created by: https://unsplash.com/@pawel_czerwinski */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;

  background: #c9ced3;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  font-family: 'Spartan', sans-serif;
}

.player-container {
  width: 40rem;
  height: 50rem;

  background: #e7e7e7;

  border-radius: 2rem;
  box-shadow: 0 1.5rem 3rem 0.5rem rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  top: -5rem;

  width: 30rem;
  height: 30rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 2rem;
  box-shadow: 0 0.5rem 3rem 0.5rem rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;

  margin-top: 0.5px;
}

/* Progress */
.progress-container {
  cursor: pointer;

  height: 0.4rem;
  width: 90%;
  margin: 4rem 2rem;

  background: #fff;

  border-radius: 0.5rem;
}

.progress {
  background: #242323;

  border-radius: 0.5rem;

  height: 100%;
  /* change this to show progress */
  width: 66%;

  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -2.5rem;

  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -1.5rem;
  left: 12rem;

  width: 20rem;
}

.fas {
  color: rgb(129, 129, 129);
  font-size: 3rem;

  margin-right: 3rem;
}

.main-button {
  position: relative;
  top: 0.3rem;

  font-size: 4rem;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Monitor 2K (1920px) */
@media screen and (max-width: 120em) {
  html {
    /* 10px = 1rem */
    font-size: 62.5%;
  }
}

/* Mobile (425px) */
@media screen and (max-width: 26.5625em) {
  html {
    /* 8px = 1rem */
    font-size: 50%;
  }

  .player-container {
    width: 95vw;
  }

  .player-controls {
    top: -1rem;
    left: 10rem;
  }
}
